<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
  </nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/compare/scissors/rock">scissors V rock</a></li>
    <li><a href="/compare/rock/paper">rock V paper</a></li>
    <li><a href="/compare/paper/scissors">paper V scissors</a></li>
    <li><a href="/compare/scissors/scissors">scissors V scissors</a></li>
    <li><a href="/compare/rock/rock">rock V rock</a></li>
    <li><a href="/compare/paper/paper">paper V paper</a></li>
  </ul>

<%= yield %>

</body>
</html>
